html,
body {
  margin: 0;
  padding: 10px;
  background-color: aliceblue;
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;

}

h1 {
  text-align: center;
  font-family: 'Courier New', Courier, monospace;
  color: rgb(96, 117, 156);
}

.main-container {
  display: flex;
  justify-content: center;
  gap: 20px;
}


canvas {
  display: block;
}

#output-canvas {
  margin-top: 20px;
}

.output-contaner {
  display: inline-block;
}

ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  display: grid;
  grid-template-columns: 25% 25% 25% 25%;
  gap: 5px;

}

li {
  position: relative;
  padding: 10px 20px;
  font-size: 18px;
  color: white;
  background: #222;
  margin: 5px 0;
  border-radius: 5px;
  transition: 0.3s;
  overflow: hidden;
  cursor: pointer;
}

li::before {
  content: "";
  position: absolute;
  top: 0;
  left: -100%;
  width: 100%;
  height: 100%;
  background: linear-gradient(120deg, transparent, rgba(255, 255, 255, 0.6), transparent);
  transition: 0.5s;
}

li:hover::before {
  left: 100%;
}

li:hover {
  box-shadow: 0 0 10px rgba(255, 255, 255, 0.8);
}

.CodeMirror * {
  /*          ^
  */
  font-family: Arial, monospace;
  font-size: 1.2rem;
}